<div ng-controller="patientDetailsController" ng-init="pageInit()">

    <md-toolbar class="md-default">
        <md-button class="md-default" ng-click="gotoList()">
            <h2>
                <div layout="row">
                    <span flex="10" layout-align="start">&lt;</span>
                    <span flex="100">Patient id: {{patient.patientID}}</span>
                </div>
            </h2>
        </md-button>

    </md-toolbar>

    <div ng-cloak>
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Details">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">Patient Details</h1>
                        <md-list>
                            <md-list-item>
                                <div layout="column" flex="30">ID:</div>
                                <div layout="column" flex="100">{{patient.patientID}}</div>
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-list-item>
                                <div layout="column" flex="30">Gender:</div>
                                <div layout="column" flex="100">{{patient.gender|genderToText}}</div>
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-list-item>
                                <div layout="column" flex="30">Age:</div>
                                <div layout="column" flex="100">{{patient.age}}</div>
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-list-item>
                                <div layout="column" flex="30">Type of patient:</div>
                                <div layout="column" flex="100">{{patient.userType}}</div>
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-list-item>
                                <div layout="column" flex="30">Time since diagnosis (months):</div>
                                <div layout="column" flex="100">{{patient.diagnoseSpan}}</div>
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-list-item>
                                <div layout="column" flex="30">Diagnose Date:</div>
                                <div layout="column" flex="100">{{patient.diagnoseDate}}</div>
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-list-item>
                                <div layout="column" flex="30">Age when diagnosed:</div>
                                <div layout="column" flex="100">{{patient.diagnoseAge}}</div>
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-list-item>
                                <div layout="column" flex="30">Total # of records:</div>
                                <div layout="column" flex="100">{{patient.raw.length}}</div>
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-list-item>
                                <div layout="column" flex="30">Last record:</div>
                                <div layout="column" flex="100">{{patient.lastquestionnaire}}</div>
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-list-item>
                                <div layout="column" flex="30">Last Average grade:</div>
                                <div layout="column" flex="100">{{patient.lastQScore}}</div>
                            </md-list-item>
                            <md-divider></md-divider>


                        </md-list>
                    </md-content>
                </md-tab>
                <md-tab label="Speech">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">Speech Test</h1>

                    </md-content>
                </md-tab>
                <md-tab label="Handwrite">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">Handwrite Test</h1>

                    </md-content>
                </md-tab>
                <md-tab label="Walking">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">Walking Test</h1>

                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>


</div>