<div layout="column" ng-cloak ng-controller="patientListController" ng-init="pageInit()">
    <md-content>
        <h2>Filter</h2>
        <section layout="row" layout-sm="column" layout-align="left center" layout-wrap>
            <md-input-container>
                <label>Age range</label>
                <md-select ng-model="ageFilterVal">
                    <md-option ng-repeat="age in ageRange" ng-value="age.key">
                        {{age.val}}
                    </md-option>
                </md-select>

            </md-input-container>
            <md-input-container>
                <label>Gender</label>
                <md-select ng-model="genderFilterVal">
                    <md-option ng-repeat="gen in genderRange" ng-value="gen.key">
                        {{gen.val}}
                    </md-option>
                </md-select>
            </md-input-container>
            <div layout="row">
                <md-input-container>
                    <label>Since diagnosis (Months)</label>
                    <md-select ng-model="fromMonthFilterVal" ng-change="onSelectFromDiagMonth()">
                        <md-option ng-repeat="month in fromMonthRange" ng-value="month">
                            {{month}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>Since diagnosis (Months)</label>
                    <md-select ng-model="toMonthFilterVal" ng-change="onSelectToDiagMonth()">
                        <md-option ng-repeat="month in toMonthRange" ng-value="month">
                            {{month}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <md-input-container>
                <label>Type of patient</label>
                <md-select ng-model="patientFilterVal">
                    <md-option ng-repeat="pt in patientTypeRange" ng-value="pt.key">
                        {{pt.val}}
                    </md-option>
                </md-select>
            </md-input-container>
            <div layout="row">
                <md-button class="md-raised md-primary" ng-click="resetFilter()">Rest</md-button>
                <md-button class="md-raised md-primary" ng-click="runFilter()">Search</md-button>
            </div>

        </section>
    </md-content>
    <md-toolbar class="md-default">
        <div class="md-toolbar-tools">
            <h2 class="md-flex">ALS Research</h2>
        </div>
    </md-toolbar>
    <md-content flex layout-padding>
        <table>
            <thead>
            <tr>
                <th>Patient ID</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Time sice Diagnosis (Months)</th>
                <th>Patient Type</th>
                <th>Last Updated Questionaire</th>
                <th>Last Grade</th>
                <th>Last querstions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="x in filterCol">
                <td><a href="" ng-click="showDetails(x.patientID)">{{x.patientID}}</a></td>
                <td>{{x.gender|genderToText}}</td>
                <td>{{x.age}}</td>
                <td>{{x.diagnoseSpan}}</td>
                <td>{{x.userType}}</td>
                <td>{{x.lastQDate}}</td>
                <td>{{x.lastQScore}}</td>
                <td>{{x.lastQSize}}</td>
            </tr>

            </tbody>

        </table>


    </md-content>
</div>